<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
	<connectionStrings>
		<add name="portafolio" connectionString="Data Source=10.210.20.8;user id=portafolio;Pwd=Invercomer1.;Initial Catalog=portafolio; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="unoee" connectionString="Data Source=10.210.20.8;user id=portafolio;Pwd=Invercomer1.;Initial Catalog=unoee_invercomer; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="id_cia" value="1"/>
	</appSettings>
</configuration>
